@charset "utf-8";
* {
    margin: 0px;
    padding: 0px;
    outline: none !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

* {
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: inherit;
    font-weight: 500;
    overflow-x: hidden;
    font-size: 16px;
    background-color: #fff;
    top: 0 !important;
    position: relative;
}
.container{
    display: flex;
}
.sidebar {
    background-color: #343a40;
    color: #fff;
    width: 250px;
    height: 100vh;
    padding: 20px;
  }
  
  .sidebar .logo {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar ul li {
    margin-bottom: 20px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .sidebar ul li:hover {
    color: #ffc107;
  }
  .main-content{
    padding-left: 10px;
  }
  .content {
    background-color: #ffffff;
    padding: 30px;
    flex: 1;
  }
  
  .table th, .table td {
    vertical-align: middle;
    text-align: center;
  }
  
  .table td button, .table td a {
    margin: 0 4px;
  }
  
a {
    color: inherit;
    text-decoration: none;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.container-s {
    max-width: 1330px !important;
    padding: 0px 15px;
    box-sizing: border-box;
    margin: 0 auto;
}

.clearfix {
    zoom: 1;
}

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}


/* Ẩn nút tăng/giảm trên Chrome, Safari, Edge */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Ẩn nút tăng/giảm trên Firefox */

input[type="number"] {
    -moz-appearance: textfield;
}

.input-control::-webkit-input-placeholder {
    color: #000;
    opacity: 1;
    font-size: 14px;
}

table *,
table ::before,
table ::after {
    border-width: 1px;
    border-style: revert-layer;
}